<!doctype html>
<html lang="ru">




<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
  <h1> Create User </h1>


<?php
if (count($errors) > 0) {
  foreach ($errors as $value) {
    echo "<p>$value</p>";
  }
}

?>


  <form method="post">

    <p><b>Login</b><br>

      <input type="text" size="40" name="login" value= "<?php echo $user['login']; ?>">
     
        <?php
          if ($result === 'Ошибка есть пустые строки' && empty($User['login']) ) {
            echo "Зполните поле";
          };?>
     


    </p>

    <p><b>First name</b><br>
      <input type="text" size="40" name="firstname" value= "<?php echo $user['firstname']; ?>">
      <?php
      if ($result === 'Ошибка есть пустые строки' && empty($User['firstname']) ) {
        echo "Зполните поле";
      };?>
 

    </p>

    <p><b>Last name</b><br>
      <input type="text" size="40" name="lastname" value= "<?php echo $user['lastname']; ?>">
      <?php
      if ($result === 'Ошибка есть пустые строки' && empty($User['lastname']) ) {
        echo "Зполните поле";
      };?>
 

    </p>

    <p><b>Birthday </b><br>
      <input type="date" size="40" name="birthday" value= "<?php echo $user['birthday']; ?>">
      <?php
      if ($result === 'Ошибка есть пустые строки' && empty($User['birthday']) ) {
        echo "Зполните поле";
      };?>
 


    </p>




    <label for="checkbox">Activ</label>
    <input id="checkbox" type="checkbox" name="is_active" checked value= 'yes'>




    <button class="button" type="submit" name = 'submitForm' value = '1' >Create new user</button>


    <button type="reset" class="button">Очистить</button>

    <a href="/user" class="button">Main</a>

  </form>
</body>

</html>